/* GENERAL */
:root {
    color-scheme: light dark;
    --bg: light-dark(#FFEEE9, #000000);
    --backgroundColor: light-dark(#ffaaea, #37123C);
    --lighterBackgroundColor: light-dark(#ffc8f1, #4f2e53);
    --textColor: light-dark(#3c113a, #E0B0D5); 
    --darkerTextColor: light-dark(#53014f, #df5dc0); 
    --footerColor: light-dark(#ffc7b6, #360a3c);
    --base: light-dark(#FFFFFF, #000000);
    --baseOpposite: light-dark(#000000, #FFFFFF);
    --gray: light-dark(#e7e7e7, #535353);
}

* {
    color: var(--textColor);
    font-family: 'Verdana', Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #8c0085;
}

a:hover {
    color: var(--darkerTextColor);
    text-decoration: underline;
}

section {
    padding: 0 70px;
}

/* NAVBAR */

.navbar {
    background-color: var(--backgroundColor);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px 30px;  
    position: sticky;
}

.navbar a {
    text-decoration: none;
}

/* NAVBAR DROPDOWN */

.dropdown {
    float: left;
    overflow: hidden;
    margin-top: 25px;  
}

.dropdown a {
    float: left;
    font-size: 16px;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown .dropbtn {
    font-size: 16px;    
    border: none;
    outline: none;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #300835;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: var(--textColor);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #2d0835;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content p {
    padding: 12px 16px;
}

/* HOME PAGE */
.inline-header {
  display: inline-block;
  margin-right: 10px;
  margin-top: 32px; 
  vertical-align: top;
}

#searchBar label {
    position: absolute;
    z-index: 1;
    transform: translateY(20px);
    margin-left: 5px;
}

#searchBar a {
    font-size: 1.5em;
}

#searchBar input {
    width: 50vw;
    margin-top: 20px;
}

#featuredPages {
    margin-top: 4.5em;
}

#featuredPages h1 {
    color: var(--darkerTextColor);
}

#featuredPages div {
    background-color: var(--lighterBackgroundColor);
    color: var(--darkerTextColor);
    border-radius: 5px;
    padding: 5px;
}

#featuredPages button {
    float: right;
    border: none;
    background: var(--backgroundColor);
    padding: 10px;
    border-radius: 5px;
}

#featuredPages button:hover {
    background-color: var(--footerColor);
    color: var(--darkerTextColor);
}

/*BACKPACK*/
.title {
    text-align: center;
}

.title h1 {
    display: inline-block;
    margin-top: 50px;
    margin-bottom: 25px;
    background-color: var(--gray);
    padding: 20px;
    border-radius: 10px;
    border-style: double;
    border-color: light-dark(#CE2D4F, #BD3A3A);
}

.collapsible {
    background-color: #eee;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    margin-top: 35px;
    border-radius: 25px;
    font-size: 1.5em;
    font-weight: bold; 
}

.collapsible.open {
    border-radius: 25px 25px 0 0;
}

#recents {
    background-color: light-dark(#ADE25D, #214E34);
}

#recents:hover {
    background-color: light-dark(#87ac4f, #1f673d);
}

#myCreations {
    background-color: light-dark(#ea8eb3, #450521);
}

#myCreations:hover {
    background-color: light-dark(#cd648e, #c90352);
}

#otherCreators {
    background-color: light-dark(#9CFFFA, #3D348B);
}

#otherCreators:hover {
    background-color: light-dark(#6fcbc6, #5a4fc0);
}

.content {
    padding: 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
    border-radius: 0 0 25px 25px;
}

/* SIGN UP */

.button-block {
    cursor: pointer;
}

.form {
    background-color: var(--backgroundColor);
    padding: 40px;
    max-width:600px;
    margin:40px auto;
    border-radius:10px;
    box-shadow:0 4px 10px 4px light-dark(#ff95e4, #74187e);
    color: var(--textColor);
}

.tab-groups {
    list-style:none;
    padding:0;
    margin: 40px 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.tab-groups li a {
    display: block;
    text-decoration: none;
    padding: 15px;
    background-color: #7faab3;
    color: #006300;
    font-size: 1.25em;
    text-align: center;
    cursor: pointer;
    transition: 0.5s ease;
    font-weight: bold;
}

.tab-groups li a:hover {
    background-color: #76d0e4;
    font-weight: bold;
}

.tab-groups li a.active {
    background: #0AD3FF;
    font-weight: bold;
}

#signup, #login {
    display: none;
}

#signup.active, #login.active {
    display: block;
}

.tabs-content h1 {
    text-align:center;
    font-weight: normal;
    margin:0 0 40px;
    font-weight: bold;
}

.tabs-content label {
    position:absolute;
    transform:translateY(6px);
    left:13px;
    color: var(--gray);
    opacity: 1;
    transition:all 0.25s ease;
    -webkit-backface-visibility: hidden;
    pointer-events: none;
    font-size:22px;
}

.tabs-content label.active {
    transform:translateY(50px);
    left:2px;
    font-size:14px;
}

.tabs-content label.active .req {
    opacity: 0
}

.tabs-content input, .tabs-content text area {
    font-size:22px;
    display:block;
    width:100%;
    height:100%;
    padding:5px 10px;
    background:none;
    background-image:none;
    border:1px solid light-dark(#e7e7e7a3, #535353a4);
    color: var(--textColor);
    border-radius:0;
    transition:border-color .25s ease, box-shadow .25s ease;
}

.tabs-content input:focus, .tabs-content textarea:focus {
    outline:0;
    border-color: #9C6615;
}

.field-wrap {
    position:relative;
    margin-bottom:40px;
}

span.req {
    color: #840000;
    opacity: 0.5;
}

.tabs-content .button {
    border:0;
    outline:none;
    border-radius:0;
    padding:15px 0;
    font-size:2rem;
    font-weight:bold;
    background-color:#0AD3FF;
    color: #291528;
    transition:all.5s ease;
    -webkit-appearance: none;
}

.tabs-content .button:hover, .tabs-content .button:focus {
    background-color: #0ab5db;
}

.tabs-content .button-block {
    display:block;
    width:100%;
}

.forgot {
    margin-top:-20px;
    text-align:right;
}

/* REMEMBER ME CHECKBOX */
input[type="checkbox"][name="remember"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    border: 2px solid #0AD3FF;
    border-radius: 4px;
    cursor: pointer;
    background-color: transparent;
    transition: all 0.2s ease;
    vertical-align: middle;
}

input[type="checkbox"][name="remember"]:checked {
    background-color: #0AD3FF;
}

.tabs-content label:has(input[type="checkbox"]) {
    position: static !important;
    transform: none !important;
    left: auto !important;
    display: flex !important;
    align-items: center;
    margin-top: 20px;
    font-size: 16px;
    pointer-events: auto !important;
}

/* SETTINGS */
.sidebar {
    height: 100%;
    width: 400px;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    background-color: var(--footerColor);
    overflow-x: hidden;
    padding-top: 25px;
}

.sidebar h2 {
    margin-left: 25px;
    font-size: 2em;
    color: var(--darkerTextColor);
}

.sidebar a {
    float: right;
    top: 0;
    margin: 25px;
    color: var(--darkerTextColor);
}

.sidebar button {
    box-sizing: content-box;
    margin: 0;
    padding: 5px;
    width: 100%;
    height: 50px;
    border: none;
    font-size: 1.25em;
    padding-top: 10px;
    padding-bottom: 10px;
}

.sidebar button:hover {
    background-color: light-dark(#8787de, #06065b);
}

.settings {
    margin-left: 400px;
    padding-top: 20px;
}

.settings div {
    margin-left: 20px;
}

.settingsAppearance {
    display: none;
}

.settingsAccount {
    display: none;
}

.settingsAppearance.active {
    display: block;
}

.settingsAccount.active {
    display: block;
}

.switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 20px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    top: 3px;
    left: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(10px);
    -ms-transform: translateX(10px);
    transform: translateX(10px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
} 

.settingsOutput {
    padding-left:20px;
    font-style: italic;
    font-size: 0.75em;
    color: grey;
}

.profileDetails {
    color: var(--darkerTextColor);
    height: 170px;
    padding: 20px;
    background-color: var(--footerColor);
    border-radius: 25px;
}

.profileDetails label {
    display: block;
    margin: 5px;
}

.profileDetails label button {
    float: right;
    height: 30px;
    background-color: var(--gray);
    border-radius: 5px;
    border: none;
}

.profileDetails label button:hover {
    background-color: rgb(206, 206, 206);
    color:rgb(6, 6, 91);
}

dialog {
    display: none;
    background-color: var(--lighterBackgroundColor);
    border: none;
    border-radius: 5px;
    padding: 20px;
    width: 500px;
    margin: 0 auto;
    text-align: center;
    position: relative;
    margin-top: 300px;
    z-index: 2;
}

dialog input {
    margin-top: 15px;
}

dialog.open {
    display: block;
    position: absolute;
}

/* FOOTER */
footer {
    margin-top: 10rem;
    padding: 10px;
    background-color: var(--footerColor);
}

footer section {
    margin-bottom: 10em;
}

.socmed {
    display: flex;
}