* {
    color: #291528;
    font-family: 'Verdana', Geneva, Tahoma, sans-serif;
}

.navbar {
    height: 20vh;
    background-color: #0ad3ff;
    position: sticky;
    top: 0;
    overflow: visible;
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
}

.navbar * {
    background-color: #0ad3ff;
}

#siteLogo {
    float: left;
    width: 50%;
}

.navbuttons {
    width: 25%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

#accountsButton {
    width: 25%;
}

button:hover {
    background-color:aquamarine
}

a:hover {
    background-color: aquamarine;
}

section {
    padding: 0 70px;
}

body {
    background-color: #ffeee9;
}

