section {
    padding: 0 70px;
}

.navbar {
    height: 20vh;
    background-color: #39a7e5;
    position: sticky;
    overflow: 0;
}

#siteLogo {
    float: left;
    width: 50%;
    padding-left: 20px;
}

div#accountsButton {
    margin-right: 20px;
    text-align: right;
}

.navbuttons {
    width: 50%;
    float: right;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}