#grid {
    display: inline-flex;
    flex-direction: column;
    background-color: white;
    border: 1px solid black;
    gap: 1px;
    width: fit-content;
}

.row {
    display: flex;
    gap: 1px;
}

.cell {
    width: 15px;
    height: 15px;
    background-color: white;
    border: 1px solid black;
    cursor: pointer;
}

.alive {
    background-color: rgb(28, 28, 28);
}